Translate
	Volume

Spawn
	Player
	Projectile
	
	
Check status
	Player
	

Spawn projectiles at a constant interval
Open door
Display message on screen

pure string GetAttribute( const string &attribute ) const;

	